.form {
  padding: var(--g-gap-sm);
  display: flex;
  align-items: center;
  gap: var(--g-gap-md);

  background-color: var(--g-color-bg-base);
}

.showFormButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: var(--g-gap-sm);
}

.showFormButton {
  box-shadow: 0 0 10px 0 var(--g-color-shadow);
}
