.root {
  padding: var(--g-gap-md);
  display: flex;
  align-items: center;
  gap: var(--g-gap-md);

  background-color: var(--g-color-bg-surface);
  border-radius: var(--g-border-radius-md);
  color: var(--g-color-text-bright);
}

.id {
  color: var(--g-color-text-muted);
  line-height: 1;
}

.checked, .unchecked {
  cursor: pointer;
}

.checked {
  path {
    stroke: var(--g-color-success);
  }
}

.unchecked {
  path {
    stroke: var(--g-color-accent);
  }
}
