.root {
  box-shadow: 0 0 10px 0 var(--g-color-shadow);
  position: sticky;
  top: 0;
  margin: 0 calc(var(--g-gap-md) - var(--g-gap-md) * 2);
  padding: var(--g-gap-md);
  border-radius: var(--g-border-radius-md) var(--g-border-radius-md) 0 0;
  background-color: var(--g-color-bg-raised);
}
