@import './styles/variables/color.variables.css';
@import './styles/variables/layout.variables.css';

body {
  margin: 0;
  padding: 0;

  background-color: var(--g-color-bg-base);
}

body * {
  box-sizing: border-box;
}
