@import './styles/variables/color.variables.css';
@import './styles/variables/layout.variables.css';

body {
  margin: 0;
  padding: 0;

  background-color: var(--g-color-bg-base);
}

body * {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #717171;
  border-radius: 10px;
  border: 1px solid #e1e4e8;
}

*::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6c757d, #495057);
  border-radius: 10px;
  border: 2px solid #f0f2f5;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #5a6268, #343a40);
}

* {
  scrollbar-width: thin;
  scrollbar-color: #495057 #adadae;
}
